<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>GeoDjango</title>
    <meta name="description" content="GeoDjango">
    <link rel="stylesheet" href="/static/aptroomat/index.css" type="text/css" media="screen">
    <link rel="shortcut icon" type="image/ico" href="/static/aptroomat/favicon.ico">
 </head>
 <body>
    <ul id="links">
      <li><a title="legenite">legenite</a></li>
      <li><a title="eurekin">eurekin</a></li>
      <li><a title="sabracta">sabracta</a></li>
      <li><a title="aptroomat">aptroomat</a></li>
    </ul>
    <div id="header">
      <h1><a title="geodjango">geodjango</a></h1>
      <h2>
{% if enter %}
    <a href="/aptroomat/explore" title="{{ enter }}">{{ enter }}</a>
{% else %}
    under construction
{% endif %}
      </h2>
    </div>


</body></html>
